
body {
  background-image: url(Fondo.jpeg);
  background-size: cover;
  
}

.card-body{
  background-color: rgba(78, 78, 78, 0.973);
  
}

.card-body p{
  text-align: center;
  margin-top: 5px;
  margin-bottom: 3px;
  color: rgba(0, 0, 0, 0.664);
  font-size: 14px;
  font-family: inherit;
}

.card {
  box-shadow: 0 0.5rem 2rem rgb(7, 0, 0); /* Una ligera sombra para la tarjeta */
  border: none; /* Elimina el borde predeterminado de la tarjeta */
  font-family: fantasy;
}

.card-header {
  background-color: rgb(112, 0, 0); /* Un azul primario de Bootstrap para el encabezado */
  color: black; /* Texto negro en el encabezado */
  text-align: center; /* Centra el texto del encabezado */
  font-size: large;
  font-family: inherit;
}

.form-label {
  color: rgb(0, 0, 0);
  font-weight: bold; /* Etiquetas de formulario en negrita */
  margin-top: 2px; /* Espacio superior para las etiquetas */
}

.form-control {
  background-color: #ffffff;
  border-color: #000000;
  border-radius: 10px; /* Bordes ligeramente redondeados para los inputs */

}

.toggle-password {
  position: absolute;
  top: 74%;
  right: 1rem;
  transform: translateY(-50%);
  cursor: pointer;
  color: gray;
}

.form-control:focus {
  background-color: #000000;
  box-shadow: 0 0 10px darkred;
  border-color: #000000;
  color: #9c0000;
  border-radius: 10px; /* Bordes ligeramente redondeados para los inputs */
}

.form-control::placeholder{
  color: #9c0000;
}

.form-check {
  color: #000000;
  margin-top: 1rem; /* Espacio superior para el checkbox */
}

.form-check .form-check-input{
  background-color: #000000;
  border-color: #000000;
}

.form-check .form-check-input:focus{
  background-color: #000000;
  border-color: #000000;
  box-shadow: 0 0 5px goldenrod;
}

.form-check a{
  color: #000000;
  text-decoration: none;
}

.form-check a:hover{
  color: darkgoldenrod;
  text-decoration: underline;
  text-shadow: 0 0 10px black;
}

.card-footer {
  color: black;
  background-color: rgb(88, 2, 2); 
  border-top: 1px solid rgb(0, 0, 0); /* Línea superior para separar el pie */
  text-align: center; /* Centra el texto del pie de la tarjeta */
}

.card-footer a {
  color:rgb(0, 0, 0); /* Color primario para el enlace del pie de página */
  text-decoration: none; /* Elimina el subrayado predeterminado del enlace */
}

.card-footer a:hover {
  color: darkgoldenrod;
  text-decoration: underline; /* Subraya el enlace al pasar el ratón */
  text-shadow:0 0 10px black;
}

.btn {
  width: 100%; /* El botón ocupa todo el ancho de su contenedor */
  margin-top: 1rem; /* Espacio superior para el botón */
}

.btn{
  color: darkred;
  border-color: black;
  background-color: black;
  box-shadow: 0 0 5px darkred;
}

.btn:hover{
  color: black;
  border-color: darkred;
  background-color: darkred;
  box-shadow: 0 0 15px black;
  text-shadow:0 0 10px #000000;
}

.btn:active{
  color: #000000;
  background-color: #9c0000;

}