
body {
  background-color: #000000; /* Un fondo gris claro */
  
}

.card {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); /* Una ligera sombra para la tarjeta */
  border: none; /* Elimina el borde predeterminado de la tarjeta */
}

.card-header {
  background-color: #ff0000; /* Un azul primario de Bootstrap para el encabezado */
  color: white; /* Texto blanco en el encabezado */
  text-align: center; /* Centra el texto del encabezado */
}

.form-label {
  font-weight: bold; /* Etiquetas de formulario en negrita */
  margin-top: 0.5rem; /* Espacio superior para las etiquetas */
}

.form-control {
  border-radius: 0.25rem; /* Bordes ligeramente redondeados para los inputs */
}

.form-check {
  margin-top: 1rem; /* Espacio superior para el checkbox */
}

.btn-primary {
  width: 100%; /* El botón ocupa todo el ancho de su contenedor */
  margin-top: 1rem; /* Espacio superior para el botón */
}

.card-footer {
  background-color: transparent; /* Fondo transparente para el pie de la tarjeta */
  border-top: 1px solid rgba(0, 0, 0, 0.125); /* Línea superior para separar el pie */
  text-align: center; /* Centra el texto del pie de la tarjeta */
}

.card-footer a {
  color: #ff0000; /* Color primario para el enlace del pie de página */
  text-decoration: none; /* Elimina el subrayado predeterminado del enlace */
}

.card-footer a:hover {
  text-decoration: underline; /* Subraya el enlace al pasar el ratón */
}
.btn{
  color: #000000;
  background-color: #ff0000;
}